.hero {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    height: 50vh;
    .image{
        position: relative;
        bottom: 0;
        height: 60vh;
        width: 70vw;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        .title {
            h1{
                @include gradientText;
                font-size: 3vw;
            }
        }
    }
    
}
